body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0%;
    padding: auto;
    background-color: rgb(248, 245, 242);
}
header{
    background-color: rgb(183, 184, 218);
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    text-align: center;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
    width: auto;
}
nav ul li{
    display: inline;
    margin: 0 15 px;
}
nav ul li a{
   color: beige;
   text-decoration: none;
   
}
